[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask_cors = "*"
psycopg2 = "*"
python-dotenv = "*"
waitress = "*"
orjson = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.1"
